*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'KoHo', sans-serif;
}
body{
  /*background: darkcyan*/
}
a{
  text-decoration: none;
  color:black;
}
ul{
  list-style: none
}
#check1,#check2,#check3,#check4,#check5{
  display: none;
}
#check1:checked ~ .blockaboutdiv .divspacebetween .h3modif{
  transform: rotate(180deg);
}
/*for 1024+ */
.header{
  z-index: 5;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  top: 0;
  position: relative;
  border-bottom: 1px solid gray;
  .header__fstline{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 17px;
    padding-right: 17px;
    background: #ffffff;
    height: 101px;
    font-size: 14px;
    .svg-icon{
      height: 68px;
      width: 68px;
      fill: mediumslateblue;
      padding-right: 17px;
    }
    .menu-list{
      height: 101px;
      list-style: none;
      display: flex;
      justify-content: start;
      align-items: center;
      .menu-list_li{
        >.header__fstline_linkdecoration {

          margin: 0 20px 0 0;
          font-weight: 400;
          line-height: 1.5;
          text-transform: uppercase;
        }
        :hover{
          color: mediumslateblue;
        }
      }
    }
    .sndnav{
      display: flex;
      align-items: center;
      margin-left: auto;
      right: 0;
      .header__sndline_linkdecoration{
        margin: 0 0 0 15px;
        display: flex;
        align-items: center;
        .centering{
          display: flex;
          align-items: center;
        }
        :hover{
          color:mediumslateblue;
        }
        .find{
          width: 32px;
          height: 32px;
          overflow: visible;
          fill: currentColor;
        }
      }
      .btnsign{
        background: #ffffff;
        display: inline-block;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 50px;
        padding: 7px 16px;
        line-height: .8;
        margin: 0 12px 0 22px;
        /*transition: all .2s ease;*/
      }
      .join{
        background: #000;
        color: white;
        display: inline-block;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 50px;
        padding: 7px 16px;
        line-height: .8;
      }
      .btnsign{

      }
      .btnsign:hover,.join:hover{
        background: mediumslateblue;
      }
    }
  }
}
#checkburger{
  display: none;
}
.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
/*    flex: 1 0 auto;*/
    .welcome{
      width: 100%;
      background-color: #d8e8e3;
      line-height: 1.75;

      margin-bottom: 32px;
      display: flex;
      text-align: center;
      justify-content: center;
      .welcome_div{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
        .welcome_div_content{
          padding: 0 16px;
          letter-spacing: -.01em;
          a{
            text-decoration: underline;
          }
        }
      }
    }
  .block{
    background: #f2f0eb;
    margin-bottom: 32px;
    color: #1e3932;
    .block_div{
      display: flex;
      justify-content: center;
      align-items: center;
      .block_div_img{
        .img{
          width: 100%;
          max-width: 100%;
          height: auto;
          background-size: cover;
        }
      }
      .block_div_content{
        padding: 32px 16px;
        .h1{
          text-align: center;
          max-width: 46.15385em;
          letter-spacing: 5px;
          font-size: 28px;
          line-height: 1.2;
          padding-bottom: 12px;
        }
        .text{
          font-size: 22px;
          max-width: 46.15385em;
          text-align: center;
        }
        .link{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 32px;
          .anker{
            color: #1e3932;
            display: inline-block;
            background: none;
            border-radius: 50px;
            border: 1px solid;
            padding: 7px 16px;
            font-weight: 600;
            line-height: 1.2;
            text-align: center;
            text-decoration: none;
            &:hover{
              background-color: rgba(30,57,50,.1);
            }
            &:active{
              transform: scale(.95);
            }
          }
        }

      }
    }
  }
  .pt{
    display: flex;
    justify-content: center;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    .pt_div{
      padding: 0 1.6rem;
      max-width: 100%;
      .pt_div_text{
        text-align: center;
        line-height: 1.8;
        font-size: 13px;
      }
    }
  }

}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    border-top: 1px solid lightgrey;
    box-shadow: 0px -2px 2px rgba(lightgrey, 0.75);
    padding-top: 1rem;
    .decorative{
      display: flex;
      flex-direction: column;

      justify-content: center;
      .decorativeUnderlinebottom{
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-bottom: 2.4rem;
        border-bottom: 1px solid lightgrey;
        margin-right: 17px;
        margin-left: 85px;
        .blockabout{
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 1.2rem;
          .h3{
            font-weight: 400;
            font-size: 1.2rem;
            width: 100%;
          }
          .blockabout_ul{
            .blockabout_ul_li{
              padding: 9px 0;
              .linksabout{
                color: rgba(0,0,0,.56);
              }
            }
          }
          .blockaboutdiv{
            display: flex;
            justify-content: space-between;
            .divspacebetween{
              display: flex;
              width: 100%;
              justify-content: space-between;
            }
          }

        }
        .blockaboutml{
          margin-left: 3.2rem;
        }
      }
    }
    .socials{
      display: flex;
      justify-content: start;
      margin-left: 85px;
      margin-top: 2rem;
      .sociallink{
        margin-right: 15px;
        width: 32px;
        height: 32px;
        overflow: visible;
        fill: currentcolor;
        border-radius: 50%;
        &:hover{
          -moz-box-shadow: 0px 0px 15px #888;
          -webkit-box-shadow: 0px 0px 15px #888;
          box-shadow: 0px 0px 15px #888;
        }

      }
    }
    .endlist{
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin-left: 85px;
      margin-top: 2rem;
      font-size: 1.15rem;
      .endlist_li{
        .endlinks:hover{
          text-decoration: underline;
        }
      }
      .endlist_li:first-child{
        padding-right: 1.6rem;
      }
      .endlist_li:not(:first-child){
        border-left: 1px solid black;
        /*          background: red;*/
        padding: 0 1.6rem;
      }
    }
    .endtext{
      margin: 1.6rem 0 1.6rem 84.5px;
      color:rgba(0,0,0,.56)
    }

  }



@media (min-width: 320px) {
  .menu-list,.sndnav{
    display: none!important;
  }
  #check1:checked ~ .blockabout_ul,#check2:checked ~ .blockabout_ul,#check3:checked ~ .blockabout_ul,#check4:checked ~ .blockabout_ul,#check5:checked ~ .blockabout_ul{
    display: flex!important;
    flex-direction: column!important;
  }
  .decorativeUnderlinebottom{
    flex-direction: column!important;
  }
  .blockabout{
    width: 100%!important;
  }
  .blockaboutdiv{
    margin: 10px 0!important;
  }
  .blockabout_ul{
    display: none!important;
  }
  .blockaboutml{
    margin-left: 0!important;
  }
  .endlist{
    flex-direction: column!important;
    .endlist_li{
      margin: 10px 0!important;
    }
    .endlist_li:first-child{
      padding-right: 0!important;
    }
    .endlist_li:not(:first-child){
      border-left: none!important;
      /*          background: red;*/
      padding: 0!important;
    }
    .endlinks:hover{
      text-decoration: none!important;
    }
  }
  .decorativeUnderlinebottom {
    margin-left: 17px!important;
    margin-right: 17px!important;
  }
  .socials{
    margin-left: 1.2rem!important;
  }
  .endlist{
    margin-left: 1.2rem!important;
  }
  .endtext{
    margin: 1.6rem 0 1.6rem 1.2rem!important;
  }
  .decorativeUnderline{
    width: 75%!important;
    .container___3FzPz{
      .color-textWhiteSoft{
        width: 100%!important;
      }
    }

  }
  .btnburger{
    display: inline-block!important;
    position: absolute;
    width: 45px!important;
    height: 45px!important;
    font-size: 0;
    top: auto;
    right: 22.5px;
    cursor: pointer;
    /*background: blue;*/
    .burger_span{
      display: block;
      width: 70%;
      height: 5px;
      margin: 8px auto 8px;
      background: #000;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      border-radius: 50%;
      background: mediumslateblue;
    }
  }
  .header__fstline{
    height: 66px!important;
  }
  .svg-icon{
    height: 45px!important;
    width: 45px!important;
  }
  #pt55{
    display: none!important;
  }
  #checkmenusec{
    display: none;
  }
  #pt5{
    .pt5_dv{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    *{
      padding: 16px;
      &.checkmenusec,.findsnddv{
        padding: 0;
      }
      .lblhund{
        width: 100%;
      }
    }
    display: none!important;
    box-shadow: -5px 0 5px -5px #333;
    width: 80%!important;
    .findsnd_svg,hr{
      padding: 0;
    }
    .btnsignsnd{
      background: #ffffff;
      display: inline-block;
      border: 1px solid black;
      cursor: pointer;
      border-radius: 50px;
      line-height: .8;
      font-size: 1.9rem;
      /*transition: all .2s ease;*/
      &:hover{
        background: mediumslateblue;
      }
    }
    .joinsnd{
      background: #000;
      color: white;
      display: inline-block;
      border: 1px solid black;
      cursor: pointer;
      border-radius: 50px;
      line-height: .8;
      &:hover{
        background: mediumslateblue;
      }
    }
    .findsnd{
      display: flex;
      align-items: center;
      :hover{
        color:mediumslateblue;
      }
      .findsnd_svg{
        width: 32px;
        height: 32px;
        overflow: visible;
        fill: currentColor;
      }
    }
    hr{
      margin:0 5%;
    }
  }
  #checkburger:checked ~ .black{
    display: flex !important;
    position: fixed;
    top: 66px !important;
    left: 0;
    /*bottom: auto !important;*/
    height: calc(100% - 66px);
    width: 100%;
    background: #000000;
    opacity: 38%;

    /*border-top: 1px solid gray;*/
    /* box-shadow: inset 0 2px 2px 2px gray; */
  }
  #checkburger:checked ~ #pt5{
    display: flex!important;
    flex-direction: column;
    position: fixed;
    top: 66px!important;
    right: 0;
    font-size: 1.9rem;
    /*bottom: auto!important;*/
    height: calc(100% - 66px);
    background: #ffffff;
    border-top: 1px solid gray;
    animation: move 0.15s linear;
    /*margin-right: -40%;*/
    /*box-shadow: inset 0 2px 2px 2px gray;*/
    .hr{
      margin: 0 5% 0 5%
    }
  }
  .h3modif{
    display: block!important;
  }
  @keyframes move {
    from{
      margin-right: -80%;
    }
    to{
      margin-right: 0%;
    }
  }
  #checkburger:checked ~ #checkmenusec:checked ~ #pt55{
    display: flex!important;
    flex-direction: column;
    position: fixed;
    top: 66px!important;
    right: 0;
    width: 80%;
    font-size: 1.9rem;
    /*bottom: auto!important;*/
    height: calc(100% - 66px);
    background: #ffffff;
    border-top: 1px solid gray;
    animation: move 0.15s linear;
    .pt55dv{
      background: lightgrey;
      display: flex;
      padding: 16px;
      .lblcnt{
        text-align: center;
        width: 100%;
      }
    }
    .apad{
      padding: 16px;
    }
  }
  #checkburger:checked ~ .btnburger{
    .span1{
      transform: rotate(-45deg) translate(-9px,10px);
    }
    .span2{
      transform: rotate(45deg);
    }
    .span3{
      display: none;
    }
  }
  .page{
    .welcome{
        font-size: 16px!important;
        .welcome_div{
          max-width: 100%!important;
          .welcome_div_content{
            padding: 0 1.6rem!important;
          }
        }
      }
    .block{
      .block_div{
        flex-direction: column!important;
        .block_div_img{

          .img{
            width: 100%;
            max-width: 100%;
          }
        }
        .block_div_content{
          .h1{
            letter-spacing: 5px!important;
            font-size: 28px!important;
          }
        }
      }
    }
    .pt{
      .pt_div{
        max-width: 100%!important;
        .pt_div_text{
          font-size: 13px!important;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .pt5{
    display: none!important;
  }
  #pt55{
    display: none!important;
  }
  #checkburger:checked ~ #pt5,#checkburger:checked ~ #pt55{
    display: none!important;
  }
  #checkburger:checked ~ .black{
    display: none!important;
  }
  .btnburger{
    display: none!important;
  }
  .menu-list{
    display: flex!important;
    justify-content: start!important;
    align-items: center!important;
  }
  .sndnav{
    display: flex!important;
  }
  #check1:checked ~ .blockabout_ul,#check2:checked ~ .blockabout_ul,#check3:checked ~ .blockabout_ul,#check4:checked ~ .blockabout_ul,#check5:checked ~ .blockabout_ul{
    display: flex!important;

    flex-direction: column!important;
  }
  .decorativeUnderlinebottom{
    flex-direction: column!important;
    margin-left: 85px!important;
    margin-right: 66px!important;
  }
  .blockabout{
    width: 100%!important;
  }
  .blockaboutdiv{
    margin: 10px 0!important;
  }
  .blockabout_ul{
    display: none!important;
  }
  .blockaboutml{
    margin-left: 0!important;
  }
  .endlist{
    flex-direction: column!important;
    .endlist_li{
      margin: 10px 0!important;
    }
    .endlist_li:first-child{
      padding-right: 0!important;
    }
    .endlist_li:not(:first-child){
      border-left: none!important;
      /*          background: red;*/
      padding: 0!important;
    }
    .endlinks:hover{
      text-decoration: none!important;
    }
  }
  .socials{
    margin-left: 85px!important;
  }
  .endlist{
    margin-left: 85px!important;
  }
  .endtext{
    margin: 1.6rem 0 1.6rem 85px!important;
  }
  .decorativeUnderline{
    width: auto!important;
    .container___3FzPz{
      .color-textWhiteSoft{
        width: auto!important;
      }
    }
  }
  .header__fstline{
    height: 101px!important;
  }
  .svg-icon{
    height: 68px!important;
    width: 68px!important;
  }
  .h3modif{
    display: block!important;
  }
  #checkburger:checked ~ #pt5{
    display: none!important;
  }
  #checkburger:checked ~ #checkmenusec:checked ~ #pt55{
    display: none!important;
  }
  .page{

    .welcome{
        font-size: 19px!important;
        .welcome_div{
          max-width: 60%!important;
          .welcome_div_content{
            padding: 0 1.6rem!important;
          }
        }
      }
    .block{
      .block_div{
        flex-direction: row-reverse!important;
        .block_div_img{
          .img{
            width: 100%;
            max-width: 100%;
          }
        }
        .block_div_content{
          .h1{
            letter-spacing: 8px!important;
            font-size: 50px!important;
          }
        }
      }
    }

    .pt{
      .pt_div{
        max-width: 60%!important;
        .pt_div_text{
          font-size: 16px!important;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .decorativeUnderlinebottom {
    flex-direction: row !important;
    margin-left: 85px !important;
  }
  .endlist {
    flex-direction: row !important;
    .endlist_li {
      margin: 0 !important;
      .endlinks:hover {
        text-decoration: underline !important;
      }
    }
    .endlist_li:first-child {
      padding-right: 1.6rem !important;
    }

    .endlist_li:not(:first-child) {
      border-left: 1px solid black !important;
      /*          background: red;*/
      padding: 0 1.6rem !important;
    }
  }
  .blockabout{
    width: 190px!important;
  }
  .blockabout_ul {
    display: flex !important;
    flex-direction: column !important;
  }
  .h3modif{
    display: none!important;
  }
}